/* =============== Font 설정 =============== */
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("./fonts/Pretendard-Thin.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("./fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Pretendard-Light.subset.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Pretendard-Regular.subset.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Pretendard-Medium.subset.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Pretendard-Bold.subset.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("./fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("./fonts/Pretendard-Black.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Happiness-Sans-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Happiness-Sans-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
